@use '@/styles/font-face';

#root {
  width: 100%;
  min-height: 100vh;
  padding: 24px 48px;
}

body {
  font-family: Cera, Arial, sans-serif;
  font-size: 20px;
  color: var(--color-text);
  background-color: var(--color-bg);
  min-height: 100vh;
}

* {
  &::-webkit-scrollbar {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
    width: 4px;
    height: 4px;
    background: var(--color-bg-panel);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--color-link);
  }
}
