.quizItemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.answersWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 600px;
}
