.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: fit-content;
  color: var(--color-link);
  animation: loading 1s infinite linear;
}

@keyframes loading {
  0% {
    color: var(--color-link);
  }

  50% {
    transform: rotate(15deg) translate(10px, 30px);
    color: var(--color-link-hover);
  }

  100% {
    color: var(--color-link);
  }
}
