.buttonWrapper {
  position: relative;
  padding: 8px 12px;
  border-radius: 8px;
  background: var(--color-button-bg);
  color: var(--color-button-text);
  transition: color 0.3s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease-in-out;
  }

  &:hover,
  &:focus {
    color: var(--color-link-hover);
  }
}

.buttonWrapper:hover,
.buttonWrapper:focus,
.buttonWrapperActive {
  &::after {
    border-color: var(--color-link-hover);
  }
}
